@import "../base";
thead {
  background: #181a1b;
  position: sticky;
  top: 0;
}
table {
  background: #181a1b;
  border-collapse: separate;
  border-left: 2px solid gray;
  border-spacing: 0;
  width: 100%;
  th,
  td {
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
  }
  th:nth-child(-n + 5) {
    width: 4rem;
  }
  td:nth-child(-n + 5) {
    text-align: center;
  }
  td:nth-child(3) {
    text-align: left;
  }
}
button {
  background: black;
  border-radius: 10%;
  border: 2px solid gray;
  color: darkgray;
  font-size: 1rem;
  height: 2rem;
}
textarea {
  background: black;
  border: 1px solid #484848;
  color: darkgray;
  width: 99%;
}
select {
  background: black;
  border-radius: 1%;
  border: 1px solid #484848;
  color: darkgray;
}
.bubble {
  background: darkgray;
  border-left: 7px solid darkgray;
  border-radius: 50%;
  border-right: 8px solid darkgray;
  color: black;
  cursor: help;
}
.scroll {
  border-bottom: 2px solid gray;
  border-top: 2px solid gray;
  max-height: 95vh;
  overflow: auto;
}
