@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../../src/base.scss";
*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: theme("borderColor.DEFAULT");
}
@layer base {
  button {
    @apply h-8 cursor-pointer rounded-md border-2 border-[gray] bg-black text-base text-[darkgray];
  }
  input {
    @apply cursor-pointer;
  }
  th,
  td {
    @apply border border-[gray];
  }
}
@layer components {
}
@layer utilities {
}
